body {
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/3-autumn-fall-background-with-decorated-borders-milleflore-images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
