body {
    background-image: url("https://cnlm.uci.edu/files/2020/01/8cc0cbeb-7249-4853-abba-8d09b9ee2242.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}