body {
    background-image: image("https://i.pinimg.com/736x/6a/92/c9/6a92c9ed666d4df954c16e7d47eadc78.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}