body {
    background-image: url("https://i.pinimg.com/736x/2e/c5/c2/2ec5c2077995b4a128fc6a8a0e2e4a08.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}