.bg-myBlue{
    background-color: rgb(24, 168, 194);
}
.heading {
    text-align: center;
    color: white;
    border: solid orangered 5px;
    background-color: black;
    font-family: monospace;
    }
.quiz {
        text-align: left;
        border: solid orangered 3px;
        background-color: darkgray;
        text-decoration-color: brown;
        color: black;
        font-family: fantasy;
}
.question {
    border: solid 3px black; 
    background-color: orangered;
    color: black;
    text-decoration: darkgreen;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 681px;
    width: 906px;
    border: solid white 3px;
}
.loveCrush {
    margin: auto;
    width: 50%;
    border: 5px solid pink;
    border-style: inset;
    padding: 10px;
    display: flex;
    background-image: url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/zoom-backgrounds%2C-valentines-backgrounds-design-template-b4500cc18edcab04fa402e3e29873a7d_screen.jpg?ts=1610962779");
    background-repeat: no-repeat;
    background-size: cover;
}
.game {
    background-color: white;
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    
}
.game img {
    width: 70px;
    height: 70px;
}
.score-board {
    background-color: white;
}