.bg-myBlue{
    background-color: rgb(24, 168, 194);
}
.heading {
    text-align: center;
    color: white;
    border: solid orangered 5px;
    background-color: black;
    font-family: monospace;
    }
.quiz {
        text-align: left;
        border: solid orangered 3px;
        background-color: darkgray;
        text-decoration-color: brown;
        color: black;
        font-family: fantasy;
}
.question {
    border: solid 3px black; 
    background-color: orangered;
    color: black;
    text-decoration: darkgreen;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 681px;
    width: 906px;
    border: solid white 3px;
}
.loveCrush {
    display: flex;
    padding: 3px;
}
.game {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}
.game img {
    width: 70px;
    height: 70px;
}
